a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  /* Desktop Styles */
  .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted grid column size for desktop devices */
    gap: 16px; /* Adjusted gap size for desktop devices */
    margin: 20px; /* Adjusted margin for desktop devices */
  }

  .movies-grid li {
    height: 350px; /* Adjusted height for desktop devices */
  }
}

@media (max-width: 844px) {
  .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted grid column size for mobile devices */
    gap: 12px; /* Adjusted gap size for mobile devices */
    margin: 10px; /* Adjusted margin for mobile devices */
  }

  .movies-grid li {
    height: 250px; /* Adjusted height for mobile devices */
  }
}


.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
  padding-left: 0;
  margin: 20px;
}

.movies-grid li {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  height: 350px;
}

.movies-grid li:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transform: scale(1.05);
}

.movies-grid li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.movies-grid li:hover::before {
  opacity: 1;
}

.movies-grid li img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.movie-info {
  position: absolute;
  bottom: -250px;
  left: 0;
  right: 0;
  padding: 16px;
  color: white;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.movies-grid li:hover .movie-info {
  bottom: 0;
}

.movie-info h2 {
  margin: 0;
  font-size: 16px;
  color: white;
}

.movie-info p {
  margin: 0;
  font-size: 14px;
}

.movie-info-item span {
  color: #fff6f6;
  font-family: 'Times New Roman', Times, serif;
}

.rating {
  display: inline-block;
  line-height: 1;
  color: #d3d3d3;
}

.star {
  display: inline-block;
  color: #ffd700;
}

.star.filled {
  color: #f7d000;
}

.movie-info .description {
  display: none;
}

.movies-grid li:hover .description {
  display: block;
}

.poster img {
  width: 100%;
  height: 600px;
}

.poster {
  position: relative;
}

.poster .poster-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.poster:hover.poster-overlay{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;

}
.movie-info-items {
  margin: 0.5rem 0;
  font-size: x-large;
}

.movie-info-items span {
  font-weight: bold;
  font-size: large;
}
.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
}


button.active {
  background-color: #555;
}

a.buy-now img {
  width: 30px;
  height: 30px; 
}
a.cinema img{
  width: 30px;
  height: 30px; 
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center; 
  align-items: center;
  width: 50%;
  margin-left: 25%;
  padding: 1rem;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-color: #ccc;
  border-radius: 5px;
 
}

.search-type-buttons {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.search-type-button {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 844px) {
  .btn1 {
    margin-top: 0px;
    margin-left: 0; /* Adjusted margin-left for mobile devices */
    width: 100%; /* Adjusted width for mobile devices */
    text-align: center; /* Center the button on mobile devices */
  }
}


.btn1 {
  margin-top: 0px;
  margin-left: 15%;
}

.sort-by {
  margin-top: -35px;
  margin-left: -180px; /* Adjust the value according to your requirements */
  text-decoration: none;
  color: inherit;
  padding: 1rem 1rem;
  width: 360px;
  
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-type-button.active {
  background-color: #555;
  color: #fff;
}

.search-type-button:hover {
  background-color:rgb(171, 171, 171);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0rem;
}

.categories span {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  color: white;
}

.categories span:hover {
  color: #666;
}

.categories span.active {
  font-weight: bold;
  color: red;
}

  .categories {
    margin-top: 0.5rem;
  }

  .categories span {
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
    font-size: 0.7rem;
  }


.media-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.media-type span {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  color: white;
}
.media-type span:hover {
  color: #666;
}






