.header {
  margin: 0 2.5rem;
  padding: 2.5rem 0;
  align-items: center;
  display: flex;
  height: 5rem; /* Adjusted height for desktop */
}

@media only screen and (max-width: 600px) {
  .header {
    margin: 0 1rem;
    padding: 1rem 0;
    height: 3rem; /* Adjusted height for mobile */
  }
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move to the right side */
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 80px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}

.header__cartIcon {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.header__cartIcon:hover {
  opacity: 0.8;
}

.header__login {
  margin-left: 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

.header__login:hover {
  color: red;
}
