/*.movie-search-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}*/

/* .movie-search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-search-bar {
  width: 500px;
  height: 20px;
  font-size: 18px;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #4CAF50;
  box-shadow: none;
  outline: none;
}

.movie-search-button:hover {
  background-color: rgb(241, 133, 0);
}

.movie-dropdown {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #4CAF50;
  outline: none;
  margin-right: 20px;
  width: 200px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


.genre-checkbox {
  display: inline-block;
  position: relative;
  padding: 1px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 16px;
}


.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.movie-item {
  list-style-type: none;
}

.movie-poster {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.movie-info {
  padding: 15px;
  background-color: grey;
  border-radius: 10px;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-overview {
  font-size: 14px;
}


.search-bar-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3e8e41;
} */
